<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ourincheon.app_center">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:windowSoftInputMode="stateAlwaysHidden"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity"
            android:theme="@style/WhiteTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".list_view.list2"
            android:theme="@style/WhiteTheme"></activity>
        <activity
            android:name=".Viewpager_main"
            android:theme="@style/WhiteTheme"/>
        <activity
            android:name=".list_view.List"
            android:theme="@style/WhiteTheme"/>
        <activity
            android:name=".Apply"
            android:theme="@style/WhiteTheme"/>
        <activity
            android:name=".Event"
            android:theme="@style/BlueTheme"/>
        <activity
            android:name=".EventDate"
            android:theme="@style/BlueTheme"/>
        <activity
            android:name=".ModifyPhoto"
            android:theme="@style/BlueTheme"/>
        <activity
            android:name=".ModifyText"
            android:theme="@style/BlueTheme"/>
        <activity
            android:name=".PopUp"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity android:name=".testPage"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".Profile"
            android:theme="@style/WhiteTheme"></activity>
    </application>

</manifest>